<html>
  <head>
  </head>
  <body>
    <p>On {{closed_at}} pull request #{{number}} was closed.</p>

    <p>{{> closed}}</p>

    {{#merged_by}}
    <p>The pull request was merged by: {{login}}</p>
    {{/merged_by}}

  </body>
</html>
