<html>
  <head>
  </head>
  <body>
    <p>Please review pull request #{{number}}: {{> opened}}</p>

    <p>Description:<br />
    <br />
    {{{body_html}}}</p>

    <ul>
      <li>Opened: {{created_at}}</li>
      {{#base}}
        <li>Based on: {{label}} ({{sha}})</li>
      {{/base}}
      {{#head}}
        <li>Requested merge: {{label}} ({{sha}})</li>
      {{/head}}
    </ul>

    <p>Diff follows:<br />
    <pre>
{{diff_text}}
    </pre></p>
  </body>
</html>
